<div class="container mt-3">
  <form>
  <div class="row justify-content-center">
    <div class="col-md-11 card text-center">
      <h3> Articulos en Venta</h3>
    </div>
  </div>
  <div class="row ml-3">
      {{#each articulos}}
        <div class="col-lg-3 p-3">
          <div class="card card-chart">
            <div class="card-header">
              <div class="dropdown">
                  <a href="/pedidos/order/{{idArticulo}}" data-toggle="tooltip" data-placement="top" title="Ver Articulo" class="btn btn-round btn-outline-primary text-info btn-simple btn-icon no-caret">
                    <i class="fa fa-tag"></i>
                  </a>
              </div>
              <h5 class="card-category">{{categoria}}</h5>
              <h6 class="card-title">{{nombre}}</h6>
            </div>
            <div class="card-body text-center">
              {{#ifCond categoria 'Reposteria'}}
                <img src="/img/icons/bake.png" alt="imagenCategoria" width="150">
              {{/ifCond}}
              {{#ifCond categoria 'Limpieza'}}
                <img src="/img/icons/Laundry.png" alt="imagenCategoria" width="150">
              {{/ifCond}}
              {{#ifCond categoria 'Escolar'}}
                <img src="/img/icons/school.png" alt="imagenCategoria" width="150">
              {{/ifCond}}  

                
            </div>
            <div class="card-footer p-3">
              <div class="stats">
                <h5 class="text-success"><i class="fa fa-dollar-sign"></i>Precio: {{precio}}</h5>
              </div>
            </div>
          </div>
        </div>
        {{/each}}      
    </div><!--Fin del row--> 
  </form> 
</div>