<!DOCTYPE html>
<html lang="en">
<!--Cambiar el icono de candado-->
<!--Cambiar el color -->

  {{>navigationIndex}}
  
    <div class="page-header page-header-small">
      <div class="page-header-image" data-parallax="true" style="background-image: url('/img/bakery-wallpaper-2.jpg');">
      </div>
      <div class="content-center">
        <div class="container">
          <h1 class="title">Rodriang Bakerys</h1>
          <div class="text-center">
            
          </div>
        </div>
      </div>
    </div>
    <div class="section section-about-us" style="background-color:#f7d29e;">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Conocenos</h2>
            <h5 class="description text-bake">
                Somos un equipo dedicado a la perfección de nuestros Productos. Cada Dia buscamos solucionar los problemas de nuestros clientes
                Mediante Soluciones Innovadoras asi como apetitosas.
            </h5>
          </div>
        </div>
        <div class="separator separator-primary"></div>
        <div class="section-story-overview">
          <div class="row">
            <div class="col-md-6">
              <div class="image-container image-left" style="background-image: url('/img/818572-gorgerous-bakery-wallpapers-1920x1200-xiaomi.jpg')">
                <!-- First image on the left side -->
                <p class="blockquote blockquote-success text-bake">"No importa el que, ni el cuando , Sinó el ahora. Que esperas para comenzar a actuar"
                  <br>
                  <br>
                  <small></small>
                </p>
              </div>
             
            
            </div>
            <div class="col-md-5" >
              <!-- First image on the right side, above the article -->
              <div class="image-container image-right" style="background-image: url('/img/baking-wallpapers-28205-8677103.jpg')"></div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-team text-center">
      <div class="container">
        <h2 class="title mt-2">Innovación Por sobre todas las cosas</h2>
        <div class="team">
          <div class="row">
            <div class="col-md-6">
              <div class="team-player">
                <img src="/img/birthday-cake-cupcakes-with-chocolate-frosting-fb-ig-3.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                <h4 class="title">Ideas</h4>
                <p class="category text-info">Innovamos Cada Dia</p>       
              </div>
            </div>
            <div class="col-md-6">
              <div class="team-player">
                <img src="/img/374080.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                <h4 class="title">Confianza</h4>
                <p class="category text-info">Te Acercamos a tus conocidos</p>
                <p class="description"></p>            
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-contact-us text-center">
      <div class="container">
        <h2 class="title">Contactanos</h2>
        <div class="row">
          <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
            <div class="input-group input-lg">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="now-ui-icons users_circle-08"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Nombre">
            </div>
            <div class="input-group input-lg">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="now-ui-icons ui-1_email-85"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Email...">
            </div>
            <div class="textarea-container">
              <textarea class="form-control" name="name" rows="4" cols="80" placeholder="Deja un Mensaje..."></textarea>
            </div>
            <div class="send-button">
              <a href="#pablo" class="btn btn-info btn-round btn-block btn-lg">Enviar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</html>